
IO_LOC "I_CLK_27_MHZ" 45;
IO_LOC "I_RST_N" 15;
IO_PORT "I_CLK_27_MHZ" PULL_MODE=UP;
IO_PORT "I_RST_N" PULL_MODE=UP;

IO_LOC "O_LED" 10;
IO_PORT "O_LED" PULL_MODE=NONE DRIVE=8;

IO_LOC "IO_CONTROL" 44;

IO_LOC "I_START_BUTTON"       39;
IO_LOC "I_A_BUTTON"           14;
IO_LOC "I_B_BUTTON"           17;
IO_LOC "I_X_BUTTON"           33;
IO_LOC "I_Y_BUTTON"           34;
IO_LOC "I_Z_BUTTON"           35;
IO_LOC "I_L_BUTTON"           16;
IO_LOC "I_R_BUTTON"           13;
IO_LOC "I_D_PAD_UP"           32;
IO_LOC "I_D_PAD_DOWN"         18;
IO_LOC "I_D_PAD_LEFT"         19;
IO_LOC "I_D_PAD_RIGHT"        20;
IO_LOC "I_LEFT_STICK_UP"      21;
IO_LOC "I_LEFT_STICK_DOWN"    22;
IO_LOC "I_LEFT_STICK_LEFT"    23;
IO_LOC "I_LEFT_STICK_RIGHT"   27;
IO_LOC "I_C_STICK_UP"         28;
IO_LOC "I_C_STICK_DOWN"       29;
IO_LOC "I_C_STICK_LEFT"       30;
IO_LOC "I_C_STICK_RIGHT"      31;

IO_LOC "O_LED_CONTROL"        40;