
IO_LOC "I_CLK_27_MHZ" 45;
IO_LOC "I_RST_N" 46;
IO_PORT "I_CLK_27_MHZ" PULL_MODE=UP;
IO_PORT "I_RST_N" PULL_MODE=UP;

IO_LOC "O_LED" 10;
IO_PORT "O_LED" PULL_MODE=NONE DRIVE=8;

IO_LOC "IO_CONTROL" 44;

IO_LOC "I_CENTER"             14;
IO_LOC "I_RIGHT_CLUSTER[0]"    20;
IO_LOC "I_RIGHT_CLUSTER[1]"    19;
IO_LOC "I_RIGHT_CLUSTER[2]"    18;
IO_LOC "I_RIGHT_CLUSTER[3]"    17;
IO_LOC "I_RIGHT_CLUSTER[4]"    13;
IO_LOC "I_RIGHT_CLUSTER[5]"    16;
IO_LOC "I_RIGHT_CLUSTER[6]"    33;
IO_LOC "I_RIGHT_CLUSTER[7]"    15;
IO_LOC "I_RIGHT_THUMB_UP"     21;
IO_LOC "I_RIGHT_THUMB_DOWN"   34;
IO_LOC "I_RIGHT_THUMB_LEFT"   22;
IO_LOC "I_RIGHT_THUMB_RIGHT"  39;
IO_LOC "I_RIGHT_THUMB_CENTER" 35;
IO_LOC "I_WASD_MOD"           30;
IO_LOC "I_WASD_UP"            28;
IO_LOC "I_WASD_DOWN"          27;
IO_LOC "I_WASD_LEFT"          29;
IO_LOC "I_WASD_RIGHT"         23;
IO_LOC "I_LEFT_THUMB_MOD_0"   31;
IO_LOC "I_LEFT_THUMB_MOD_1"   32;
 
IO_LOC "O_LED_CONTROL"        41;
IO_LOC "O_USB_DP"             43;
IO_LOC "O_USB_DM"             42;